.ingresocontain {
    padding-top: 2.5%;
    display: flex;
    height: 100%;
}

.ingresocontain >.contderformlogin {
    flex: 1;
    /* border: 1px solid black; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}

.ingresocontain >.contderformlogin h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.ingresocontain >.contderformlogin .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ingresocontain >.contderformlogin label {
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
}

.ingresocontain >.contderformlogin input {
    width: 500px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    background: none;
}

.ingresocontain >.contderformlogin input:focus {
    outline: none; 
    border-color:var(--primary-color);
}

.ingresocontain >.contderformlogin .enviar {
    margin-top: 4%;
    margin-left: 40%;
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ingresocontain >.contderformlogin .invisible {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.ingresocontain >.contderformlogin .invisible img{
    width: 20px; 
    height: 20px; 
    display: block; 
}

.ingresocontain >.contderformlogin .enviar:hover {
    background-color: var(--primary-color);
    color: white;
    border: none;
}


.ingresocontain > .contderformlogin .botonizform {
    background-color: white;
    border: 2px solid white; 
    color: black; 
    padding: 10px 20px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    border-radius: 10px;
    font-weight: bold; 
}

.ingresocontain >.contizformlogin {
    flex: 0 0 30%; 
    /* border: 1px solid red;  */
    height: 90vh;
    margin-left: 20px;
    background-size: cover;
    background-position: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black; 
    background-image: url('../../public/images/minimalfrutas2.png');
}


.ingresocontain >.contizformlogin h1 {
    border-radius: 5px; 
    font-size: 24px; 
    margin-bottom: 10px;
    font-weight: bold; 
    background-color: white;
}

.ingresocontain > .contderformlogin .separadorform{
    margin-top: 10%;
}

.ingresocontain >.contizformlogin p {
    font-size: 18px; 
    border-radius: 5px;
    font-weight: 500; 
    background-color: white;
}


.ingresocontain .googleAuth{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.ingresocontain > .contderformlogin .form .password{
    display: flex;
}

.ingresocontain > .contderformlogin .form .password > input{
    border-radius: 0;
}


.ingresocontain > .contderformlogin .botonizform:hover {
    background: transparent;
    color: white;
}

.error{
    color: red;
}

.shake {
    animation: shake 0.5s ease-in-out infinite;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
  }

.ingresocontain .logo-container{
    padding-left: 89.5%;
}

    

/* Ajustes generales para dispositivos móviles */
@media (max-width: 768px) {
    .ingresocontain .logo-container{
        padding-left: 0;
    }
    .ingresocontain {
        flex-direction: column-reverse;
        padding-top: 10%;
    }
    .ingresocontain >.contderformlogin .form {
        row-gap: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .ingresocontain >.contizformlogin {
        flex: 0 0 100%; /* Ocupa todo el ancho en dispositivos móviles */
        margin-left: 0;
    }
    .ingresocontain > .contderformlogin {
       
        width: 100%; /* Ocupa todo el ancho en dispositivos móviles */
        margin-right: 0;
    }

    .ingresocontain > .contderformlogin h1 {
        font-size: 20px; /* Reduce el tamaño de la fuente */
        margin-bottom: 10px;
    }

    .ingresocontain > .contderformlogin input {
        width: 100%; /* Ocupa todo el ancho en dispositivos móviles */
    }

    .ingresocontain > .contderformlogin .enviar {
        margin-left: 0; /* Alinea el botón al centro en dispositivos móviles */
    }

    .ingresocontain > .contderformlogin .googleAuth {
        margin-top: 1rem; /* Agrega un espacio entre los elementos */
    }
}