/*Fuentes de google*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*CSS*/

/*HEADER*/
.header{
    margin-top: .5rem;
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    z-index:var(--z-fixed);
    background: transparent;
}

.header > .nav-bar{
    height: var(--header-height);
    max-width: 70%;
    border-radius: 25px;
    background-color: var(--strawberry-header-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--md-border);
}

.header > .nav-bar .nav__logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header > .nav-bar .nav__logo > img{
    width: calc((var(--header-height)) + var(--header-height)/2);
}

.header > .nav-bar .nav__logo p{
    margin-top: .5rem;
    margin-left: -1.5rem;
    color: var(--strawberry-main-color);
    font-family:'Montserrat';
    font-size: 1.2rem;
    font-weight: var(--font-bolder);
}

.header > .nav-bar .nav__menu{
    width: calc(50% - 15rem);
}

.header > .nav-bar .nav__menu > .nav__list {
    display: flex;
    align-items: center;
    justify-content:space-around;
    list-style: none;
}

.header > .nav-bar .nav__menu > .nav__list > .nav__item{
    min-height: 100%;
}

/*USER BUTTON*/

    .header > .nav-bar .nav__menu > .nav__list > .nav__item > #userIcon{
        width: 4rem;
        background-color: transparent;
    }

    .header > .nav-bar .nav__menu > .nav__list > .nav__item > #userIcon > img{
        width: 100%;
    }

/*DROPDOWN USER OPTIONS*/

    .header > .nav-bar .nav__menu > .nav__list > .nav__item .popup-header{
        position: absolute;
        border: 1px solid black;
        top: 0;
        margin-left: -.9rem;
        margin-top: calc(var(--header-height) + 5px);
        width: 100px;
        min-height: 5rem;
        z-index: 1;
        border-radius: var(--xs-border);
        display: flex;
        flex-direction: column;
    }

    .header > .nav-bar .nav__menu > .nav__list > .nav__item  .popup-header .popup-inner{
        height: 2rem;
    }

    .header > .nav-bar .nav__menu > .nav__list > .nav__item  .popup-header .popup-inner:nth-child(2){
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header > .nav-bar .nav__menu > .nav__list > .nav__item  .popup-header .popup-inner .separator{
        width: 60%;
        position: absolute;
        border: 1px solid black;
    }

    .header > .nav-bar .nav__menu > .nav__list > .nav__item  .popup-header .popup-inner a,
    .header > .nav-bar .nav__menu > .nav__list > .nav__item  .popup-header .popup-inner button{
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        font-size: 1rem;
    }

    .header > .nav-bar .nav__menu > .nav__list > .nav__item .popup-header .popup-inner a{
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-weight: var(--font-medium);
    }

    .header > .nav-bar .nav__menu > .nav__list > .nav__item .popup-header .popup-inner button:hover{
        cursor: pointer;
        border-bottom-left-radius: var(--xs-border);
        border-bottom-right-radius: var(--xs-border);
        transition: all 1s var(--btn-cubic-bezier);
    }

    .header > .nav-bar .nav__menu > .nav__list > .nav__item  .popup-header .popup-inner a:hover{
        cursor: pointer;
        border-top-left-radius: var(--xs-border);
        border-top-right-radius: var(--xs-border);
        color: var(--secondary-color);
        transition: all 1s var(--btn-cubic-bezier);
    }

.header > .nav-bar .nav__menu > .nav__list > .nav__item:nth-child(1) > button{
    background-color: var(--strawberry-main-color);
    padding: var(--btn-padding);
    border-radius: var(--md-border);
    border: none;
    color: var(--secondary-color);
    font-weight: var(--font-medium);
    font-size: 1rem;
    font-family: 'Montserrat';
}

.header > .nav-bar .nav__menu > .nav__list > .nav__item:nth-child(1) > button:hover{
    border: 1px solid black;
    transition: all 1s var(--btn-cubic-bezier);
    cursor: pointer;
}

.header > .nav-bar .nav__menu > .nav__list > .nav__item:nth-child(2) > button{
    border: none;
    background-color: transparent;
    color: var(--strawberry-main-color);
    cursor: pointer;
    width: 2.5rem;
}

.header > .nav-bar .nav__menu > .nav__list > .nav__item:nth-child(2) > button > img{
    width: inherit;
}

.header >.nav  .inicios {
    display: flex;
    align-items: center; /* Centra verticalmente */
    background-color: #6A00B4;
    width: 100%;
    height: 30px;
    border-radius: 25px;
    justify-content: center; /* Centra horizontalmente */
}
.header >.nav  .inicios:hover{
    background-color: #9B52D1;
}

.header >.nav {
    color:white;
}