.quienesomos{
  margin-top: calc(var(--header-height)/1.5 + 1rem);
}

.tittlequienes{
  margin-bottom: 1rem;
}
.containerquienes  {
    display: grid;
    place-items: center;
    padding: 5%;
    text-align: justify;
    text-justify: inter-word;
}

.containerquienes > p {
    text-align: center;
}

.quienesomos > .misionvision{
    display: flex;
    border-radius: var(--sm-border);
}
.quienesomos > .misionvision > .vision{
    border-left: 2px solid black;
    margin-left: 5%;
}
.quienesomos > .objectives {
    border-radius: var(--sm-border);

}
.quienesomos > .objectives > .objectives__list{
    list-style:circle;
}

.quienesomos > .objectives > .objectives__list > li{
    margin: 3% 0 3% 0;
}

.quienesomos > .objectives > .objectives__list > li > p{
    text-align: justify;
}

/*VALORES CSS */
.values{
    display: flex;
    width: 100%;
    height: 700px;
    margin-top: 5rem;
    position: relative; 
    justify-content: center;
    flex-direction: column;
}

.values > h1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 0 1rem 0;
}

.values > .holder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.values > .holder > .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    border: 1px solid var(--primary-color);
    padding: 1.5rem;
    width: 100%;
    max-width: 30vw;
    height: 8rem;
    border-radius: var(--md-border);
}


.values > .holder > .container:nth-child(5){
    left: 6rem;
    top: 6rem;
}
.values > .holder > .container:nth-child(2){
    right: 6rem;
    top: 6rem;
}
.values > .holder > .container:nth-child(3){
    right: 6rem;
    bottom: 6rem;
}
.values > .holder > .container:nth-child(4){
    left: 6rem;
    bottom: 6rem;
}

.qualitypolicies {
  width: 80%;
}

@media only screen and (max-width: 1024px) {
    .values > .holder > .container{
        width: 320px !important;
    }

    .values > .holder > .container:nth-child(5){
        left: 0rem;
        top: 6rem;
    }
    .values > .holder > .container:nth-child(2){
        right: 0;
        top: 6rem;
    }
    .values > .holder > .container:nth-child(3){
        right: 0;
        bottom: 6rem;
    }
    .values > .holder > .container:nth-child(4){
        left: 0;
        bottom: 6rem;
    }

}

@media only screen and (max-width: 900px) {
    .values > .holder > .container{
        max-width: 320px !important;
    }

    .values > .holder > .container:nth-child(5){
        left: 0rem;
        top: 6rem;
    }
    .values > .holder > .container:nth-child(2){
        right: 0;
        top: 6rem;
    }
    .values > .holder > .container:nth-child(3){
        right: 0;
        bottom: 6rem;
    }
    .values > .holder > .container:nth-child(4){
        left: 0;
        bottom: 6rem;
    }

}


@media only screen and (max-width: 768px) {

    .values > .holder{
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    .values > .holder > img{
        display: none;
    }

    .values > .holder > .container{
        position: relative;
        height: 8rem;
        margin: 1rem;
        max-width: 100% !important;
    }

    .values > .holder > .container:nth-child(2),
    .values > .holder > .container:nth-child(3),
    .values > .holder > .container:nth-child(4),
    .values > .holder > .container:nth-child(5) {
        left: auto;
        right: auto;
        top: auto;
        bottom: auto;
    }

  
  }
  