header {
  position: fixed;
  top: 0.5rem;
  height: 80px;
  width: 100%;
  color: var(--light-color);
  display: flex;
  justify-content: center;
  z-index: 3;
}

header .totalheader {
  width: 80%;
  height: 100%;
  border-radius: var(--md-border);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header .logo {
  height: 80px;
  float: left;
  line-height: 80px;
  cursor: pointer;
  display: flex;
}

header .logo picture img {
  height: 80px;
}

header h1 {
  color: var(--btn-color);
  font-size: calc(var(--font-size) * 2);
  line-height: 80px;
  font-weight: bold;
  margin-left: -2rem;
}

nav > ul {
  float: right;
  margin-right: 2rem;
  line-height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  gap: 5rem;
}

nav > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 100%;
}

nav > ul > li > button {
  background-color: transparent;
  border: none;
  width: 2.5rem;
  cursor: pointer;
}

nav > ul > li > button svg {
  width: 100%;
  height: 100%;
}

nav > ul > li:nth-child(2) > p {
  color: white;
  background-color: var(--btn-color);
  border: 1px solid black;
  border-radius: var(--sm-border);
  font-weight: 100;
}

nav > ul > li > p {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--btn-color);
  font-weight: bold;
  padding: 7px 14px;
  cursor: pointer;
}

header .burger-menu {
  height: 100%;
  display: flex;
  align-items: center;
  float: right;
  margin-right: 2rem;
}

header .burger-menu svg,
header .close-menu svg {
  color: black;
}

header .close-menu {
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--light-color);
  visibility: hidden;
  display: none;
  opacity: 0;
  font-size: var(--font-size);
}

header .nav-btn, .nav-btns {
  padding: 5px;
  cursor: pointer;
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  opacity: 0;
}

header .popup-header {
  position: absolute;
  border: 1px solid black;
  top: 0;
  margin-top: calc(var(--header-height) + 5px);
  width: 100px;
  height: 5rem;
  z-index: 1;
  border-radius: var(--xs-border);
  display: flex;
  flex-direction: column;
}

header .popup-header.inactive {
  display: none;
}

header .popup-header .popup-inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .popup-header .separator {
  background-color: black;
  height: 1.5px;
  width: 100%;
  margin: auto;
}

header .popup-header .popup-inner button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  color: var(--btn-color);
}

header .popup-header .popup-inner:nth-child(1) button:hover {
  cursor: pointer;
  border-top-left-radius: var(--xs-border);
  border-top-right-radius: var(--xs-border);
  transition: all 1s var(--btn-cubic-bezier);
  background-color: var(--btn-color);
  color: white;
}



header .popup-header .popup-inner:nth-child(3) button:hover {
  cursor: pointer;
  border-bottom-left-radius: var(--xs-border);
  border-bottom-right-radius: var(--xs-border);
  transition: all 1s var(--btn-cubic-bezier);
  background-color: var(--btn-color);
  color: white;
}

@media only screen and (max-width: 1024px) {
  nav > ul {
    gap: 2rem;
  }

}

@media only screen and (max-width: 768px) {

  header{
    width: 100vw;
  }

  header .nav-btn {
    visibility: visible;
    opacity: 1;
    display: flex;
  }

  header .logo picture img{
    margin-left: -1rem;
    height: 65px;
  }

  header nav {
    position: fixed;
    top: 0.5rem;
    right: 0;
    width: 375px;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1s;
    transform: translateY(-100vh);
    border-top-left-radius: var(--md-border);
    border-bottom-left-radius: var(--md-border);
    box-shadow: 2px 8px 8px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  header .responsive_nav {
    transform: none;
  }

  header nav ul {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
  }

  header nav ul > li > .nav-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header nav ul button{
    display: none;
  }

  nav p {
    font-size: var(--font-size);
  }

  header .nav-btns {
    z-index: 2;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
    display: flex;
  }

}
