.registrocontain {
    padding-top: 2.5%;
    display: flex;
    height: 100%;
}

.registrocontain .googleAuth {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 4rem;
  justify-content: flex-start;
}

.contderform {
    flex: 1;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contderform h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.contderform .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contderform label {
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
}

.contderform input {
    width: 500px;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    background: none;
}

.contderform input:focus {
    outline: none; 
    border-color:var(--primary-color);
}
.optioncontainer{
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.optioncontainer > .options{
 background-color: whitesmoke;
 border-radius: var(--sm-border);
 width: 30%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 40%;
 gap: 2rem;
 box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
}
.contderform .terms_coditions{
  width: 500px;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contderform .terms_coditions input{
  width: 15px;
  height: 100%;
  margin: auto 0;
}

.contderform .terms_coditions label {
    font-size: .8rem;
    margin-top: -.1rem;
    margin-left: 1rem;
}

.contderform button {
    margin-top: 4%;
    margin-left: 40%;
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contderform button:hover {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.contderform button[disabled]:hover {
    cursor: not-allowed;
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

.contizform {
    flex: 0 0 30%; 
    height: 90vh;
    margin-right: 20px;
    background-size: cover;
    background-position: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black; 
    background-image: url('../../../../public/images/minimalfrutas2.png');
}


.contizform h1 {
    border-radius: 5px; 
    font-size: 24px; 
    margin-bottom: 10px;
    font-weight: bold; 
    background-color: white;
}

.contizform p {
    font-size: 18px; 
    border-radius: 5px;
    font-weight: 500; 
    background-color: white;
}

.botonizform {
    background-color: white;
    border: 2px solid white; 
    color: black; 
    padding: 10px 20px; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    border-radius: 10px;
    font-weight: bold; 
}

.botonizform:hover {
    background: transparent;

    color: white;
}


.error{
    color: red;
}

.shake {
    animation: shake 0.5s ease-in-out infinite;
  }
  
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
  }


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 20px; 
  z-index: 2; 
}

.logo-container img {
  max-width: 100px; 
  height: auto;
}

.logo-container p {
  font-size: 18px; 
  margin-top: 5px;
  font-weight: bold;
  color: #FF355E;
  padding-left: 20px;
}
@media (max-width: 768px) {
  .registrocontain {
      flex-direction: column;
      align-items: center;
      row-gap: 2rem;
      padding-top: 10%;
     
  }

  .contderform .form {
    display: flex;
    flex-direction: column;
    width: 100%;
   
    align-items:center ;
}
.contderform input {
 width: 50%;
}
.contderform button {
  margin:2rem 0 2rem 0;
}
.registrocontain .googleAuth {
  justify-content: center;
  margin: 0;
}

  .contizform {
      flex: 0 0 100%; /* Ocupa todo el ancho en dispositivos móviles */
      margin-right: 0;
      width:100%;
     
    
  }
  .botonizform {
    margin-bottom: 1rem;
}
}





