.cartComp{
    margin: 0 auto;
    margin-top: calc(var(--header-height)*2);
    width: 70%;
    min-height: 60vh;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.cartComp > .items{
    width: 60%;
    border: 1px solid black;
}

.cartComp > .checkout{
    width: 35%;
    height: 15rem;
    border: 1px solid black;
}