
.homecontain > .products{
    min-height: 70vh;
    margin-bottom: 40vh;
}

.homecontain > .products > .title{
    width: 100%;
    margin-top: 2rem;
}

.homecontain > .products > .title >h1{
    margin-left: 10%;
}

.homecontain > .products > .elements{
    min-width: 80vw;
    max-width: 80vw;
    margin: 2rem auto;
    min-height: 50vh;
    max-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.homecontain > .products > .elements > .card{
    height: var(--card-height);
    min-width: var(--card-width);
    max-width: var(--card-width);
    border: 1px solid black;
    border-radius: var(--md-border);
    margin: 2rem 5rem;

}

.homecontain > .products > .elements > .card >.title{
    width: 80%;
    height:2.5rem;
    margin: auto;
    display: flex;
}

.homecontain > .products > .elements > .card > .title > .promt{
    font-weight: var(--font-bolder);
    height:100%;
    display: flex;
    align-items: center;
}

.homecontain > .products > .elements > .card >.title > .unit{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.homecontain > .products > .elements > .card >.title > .unit > .container{
    width: 7rem;
    height: 100%;
    position: absolute;
    top: -15px;
    right: -55px;
    border-radius: var(--md-border);
    border: 1px solid black;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


.homecontain > .products > .elements > .card .pImg{
    width: 100%;
    height: calc(var(--card-width) - (var(--card-width) / 4));
    display: flex;
    justify-content: center;
    align-items: center;
}

.homecontain > .products > .elements > .card > .pImg > img{
    width: calc(var(--card-width) - (var(--card-width) / 3));
    height: calc(var(--card-width) - (var(--card-width) / 3));
}

.homecontain > .products > .elements > .card > .controls{
    display: flex;
    width: 100%;
}

.homecontain > .products > .elements > .card > .controls >.panel{
    display: flex;
    margin-left: 2rem;
}

.homecontain > .products > .elements > .card > .controls > .panel > button{
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--primary-color);
    border: 1px solid black;
    color: var(--secondary-color);
    font-weight: var(--font-bolder);
    cursor: pointer;
}

.homecontain > .products > .elements > .card > .controls > .panel > p{
    margin: 0 1rem;
}

.homecontain > .products > .elements > .card > .controls > .value{
    display: flex;
    justify-content: center;
    width: 100%;
}
